<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (entidad) {
      <div>
        <h2 data-cy="entidadDetailsHeading"><span jhiTranslate="gatewayApp.establecimientosEntidad.detail.title">Entidad</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ entidad.id }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="gatewayApp.establecimientosEntidad.codigo"
              [ngbTooltip]="'gatewayApp.establecimientosEntidad.help.codigo' | translate"
              >Codigo</span
            >
          </dt>
          <dd>
            <span>{{ entidad.codigo }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="gatewayApp.establecimientosEntidad.nombre"
              [ngbTooltip]="'gatewayApp.establecimientosEntidad.help.nombre' | translate"
              >Nombre</span
            >
          </dt>
          <dd>
            <span>{{ entidad.nombre }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="gatewayApp.establecimientosEntidad.ruc"
              [ngbTooltip]="'gatewayApp.establecimientosEntidad.help.ruc' | translate"
              >Ruc</span
            >
          </dt>
          <dd>
            <span>{{ entidad.ruc }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/entidad', entidad.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
