<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-doctor-especialidad-establecimiento-heading"
        data-cy="DoctorEspecialidadEstablecimientoCreateUpdateHeading"
        jhiTranslate="gatewayApp.establecimientosDoctorEspecialidadEstablecimiento.home.createOrEditLabel"
      >
        Create or edit a Doctor Especialidad Establecimiento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosDoctorEspecialidadEstablecimiento.activo"
            for="field_activo"
            [ngbTooltip]="'gatewayApp.establecimientosDoctorEspecialidadEstablecimiento.help.activo' | translate"
            >Activo</label
          >
          <input type="checkbox" class="form-check" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosDoctorEspecialidadEstablecimiento.doctorId"
            for="field_doctorId"
            [ngbTooltip]="'gatewayApp.establecimientosDoctorEspecialidadEstablecimiento.help.doctorId' | translate"
            >Doctor Id</label
          >
          <input type="number" class="form-control" name="doctorId" id="field_doctorId" data-cy="doctorId" formControlName="doctorId" />
          @if (editForm.get('doctorId')!.invalid && (editForm.get('doctorId')!.dirty || editForm.get('doctorId')!.touched)) {
            <div>
              @if (editForm.get('doctorId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('doctorId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosDoctorEspecialidadEstablecimiento.especialidadId"
            for="field_especialidadId"
            [ngbTooltip]="'gatewayApp.establecimientosDoctorEspecialidadEstablecimiento.help.especialidadId' | translate"
            >Especialidad Id</label
          >
          <input
            type="number"
            class="form-control"
            name="especialidadId"
            id="field_especialidadId"
            data-cy="especialidadId"
            formControlName="especialidadId"
          />
          @if (
            editForm.get('especialidadId')!.invalid && (editForm.get('especialidadId')!.dirty || editForm.get('especialidadId')!.touched)
          ) {
            <div>
              @if (editForm.get('especialidadId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('especialidadId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosDoctorEspecialidadEstablecimiento.establecimiento"
            for="field_establecimiento"
            >Establecimiento</label
          >
          <select
            class="form-control"
            id="field_establecimiento"
            data-cy="establecimiento"
            name="establecimiento"
            formControlName="establecimiento"
            [compareWith]="compareEstablecimiento"
          >
            @if (!editForm.get('establecimiento')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (establecimientoOption of establecimientosSharedCollection; track $index) {
              <option [ngValue]="establecimientoOption">{{ establecimientoOption.nombre }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['establecimiento'])!.invalid &&
          (editForm.get(['establecimiento'])!.dirty || editForm.get(['establecimiento'])!.touched)
        ) {
          <div>
            @if (editForm.get(['establecimiento'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
