<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (persona) {
      <div>
        <h2 data-cy="personaDetailsHeading"><span jhiTranslate="gatewayApp.persona.detail.title">Persona</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ persona.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="gatewayApp.persona.identificacion" [ngbTooltip]="'gatewayApp.persona.help.identificacion' | translate"
              >Identificacion</span
            >
          </dt>
          <dd>
            <span>{{ persona.identificacion }}</span>
          </dd>
          <dt>
            <span jhiTranslate="gatewayApp.persona.primerApellido" [ngbTooltip]="'gatewayApp.persona.help.primerApellido' | translate"
              >Primer Apellido</span
            >
          </dt>
          <dd>
            <span>{{ persona.primerApellido }}</span>
          </dd>
          <dt>
            <span jhiTranslate="gatewayApp.persona.segundoApellido" [ngbTooltip]="'gatewayApp.persona.help.segundoApellido' | translate"
              >Segundo Apellido</span
            >
          </dt>
          <dd>
            <span>{{ persona.segundoApellido }}</span>
          </dd>
          <dt>
            <span jhiTranslate="gatewayApp.persona.primerNombre" [ngbTooltip]="'gatewayApp.persona.help.primerNombre' | translate"
              >Primer Nombre</span
            >
          </dt>
          <dd>
            <span>{{ persona.primerNombre }}</span>
          </dd>
          <dt>
            <span jhiTranslate="gatewayApp.persona.segundoNombre" [ngbTooltip]="'gatewayApp.persona.help.segundoNombre' | translate"
              >Segundo Nombre</span
            >
          </dt>
          <dd>
            <span>{{ persona.segundoNombre }}</span>
          </dd>
          <dt>
            <span jhiTranslate="gatewayApp.persona.celular" [ngbTooltip]="'gatewayApp.persona.help.celular' | translate">Celular</span>
          </dt>
          <dd>
            <span>{{ persona.celular }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="gatewayApp.persona.telefonoConvencional"
              [ngbTooltip]="'gatewayApp.persona.help.telefonoConvencional' | translate"
              >Telefono Convencional</span
            >
          </dt>
          <dd>
            <span>{{ persona.telefonoConvencional }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.persona.correo" [ngbTooltip]="'gatewayApp.persona.help.correo' | translate">Correo</span></dt>
          <dd>
            <span>{{ persona.correo }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.persona.tipoIdentificacion">Tipo Identificacion</span></dt>
          <dd>
            @if (persona.tipoIdentificacion) {
              <div>
                <a [routerLink]="['/catalogo-item', persona.tipoIdentificacion.id, 'view']">{{ persona.tipoIdentificacion.nombre }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.persona.nacionalidad">Nacionalidad</span></dt>
          <dd>
            @if (persona.nacionalidad) {
              <div>
                <a [routerLink]="['/catalogo-item', persona.nacionalidad.id, 'view']">{{ persona.nacionalidad.nombre }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.persona.usuario">Usuario</span></dt>
          <dd>
            <span>{{ persona.usuario?.login }}</span>
          </dd>
          <dt><span jhiTranslate="gatewayApp.persona.genero">Genero</span></dt>
          <dd>
            @if (persona.genero) {
              <div>
                <a [routerLink]="['/catalogo-item', persona.genero.id, 'view']">{{ persona.genero.nombre }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.persona.estadoCivil">Estado Civil</span></dt>
          <dd>
            @if (persona.estadoCivil) {
              <div>
                <a [routerLink]="['/catalogo-item', persona.estadoCivil.id, 'view']">{{ persona.estadoCivil.nombre }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.persona.nivelEducacion">Nivel Educacion</span></dt>
          <dd>
            @if (persona.nivelEducacion) {
              <div>
                <a [routerLink]="['/catalogo-item', persona.nivelEducacion.id, 'view']">{{ persona.nivelEducacion.nombre }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gatewayApp.persona.estadoNivelEducacion">Estado Nivel Educacion</span></dt>
          <dd>
            @if (persona.estadoNivelEducacion) {
              <div>
                <a [routerLink]="['/catalogo-item', persona.estadoNivelEducacion.id, 'view']">{{ persona.estadoNivelEducacion.nombre }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/persona', persona.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
