<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-institucion-heading"
        data-cy="InstitucionCreateUpdateHeading"
        jhiTranslate="gatewayApp.establecimientosInstitucion.home.createOrEditLabel"
      >
        Create or edit a Institucion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosInstitucion.codigo"
            for="field_codigo"
            [ngbTooltip]="'gatewayApp.establecimientosInstitucion.help.codigo' | translate"
            >Codigo</label
          >
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          @if (editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)) {
            <div>
              @if (editForm.get('codigo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosInstitucion.nombre"
            for="field_nombre"
            [ngbTooltip]="'gatewayApp.establecimientosInstitucion.help.nombre' | translate"
            >Nombre</label
          >
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosInstitucion.permiteDerivacion"
            for="field_permiteDerivacion"
            [ngbTooltip]="'gatewayApp.establecimientosInstitucion.help.permiteDerivacion' | translate"
            >Permite Derivacion</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="permiteDerivacion"
            id="field_permiteDerivacion"
            data-cy="permiteDerivacion"
            formControlName="permiteDerivacion"
          />
          @if (
            editForm.get('permiteDerivacion')!.invalid &&
            (editForm.get('permiteDerivacion')!.dirty || editForm.get('permiteDerivacion')!.touched)
          ) {
            <div>
              @if (editForm.get('permiteDerivacion')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosInstitucion.permiteReferencia"
            for="field_permiteReferencia"
            [ngbTooltip]="'gatewayApp.establecimientosInstitucion.help.permiteReferencia' | translate"
            >Permite Referencia</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="permiteReferencia"
            id="field_permiteReferencia"
            data-cy="permiteReferencia"
            formControlName="permiteReferencia"
          />
          @if (
            editForm.get('permiteReferencia')!.invalid &&
            (editForm.get('permiteReferencia')!.dirty || editForm.get('permiteReferencia')!.touched)
          ) {
            <div>
              @if (editForm.get('permiteReferencia')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosInstitucion.permiteContrareferencia"
            for="field_permiteContrareferencia"
            [ngbTooltip]="'gatewayApp.establecimientosInstitucion.help.permiteContrareferencia' | translate"
            >Permite Contrareferencia</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="permiteContrareferencia"
            id="field_permiteContrareferencia"
            data-cy="permiteContrareferencia"
            formControlName="permiteContrareferencia"
          />
          @if (
            editForm.get('permiteContrareferencia')!.invalid &&
            (editForm.get('permiteContrareferencia')!.dirty || editForm.get('permiteContrareferencia')!.touched)
          ) {
            <div>
              @if (editForm.get('permiteContrareferencia')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosInstitucion.estadoId"
            for="field_estadoId"
            [ngbTooltip]="'gatewayApp.establecimientosInstitucion.help.estadoId' | translate"
            >Estado Id</label
          >
          <input type="number" class="form-control" name="estadoId" id="field_estadoId" data-cy="estadoId" formControlName="estadoId" />
          @if (editForm.get('estadoId')!.invalid && (editForm.get('estadoId')!.dirty || editForm.get('estadoId')!.touched)) {
            <div>
              @if (editForm.get('estadoId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('estadoId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
