<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-continuidad-asistencial-heading"
        data-cy="ContinuidadAsistencialCreateUpdateHeading"
        jhiTranslate="gatewayApp.serviciosmedicosContinuidadAsistencial.home.createOrEditLabel"
      >
        Create or edit a Continuidad Asistencial
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.serviciosmedicosContinuidadAsistencial.observacion"
            for="field_observacion"
            [ngbTooltip]="'gatewayApp.serviciosmedicosContinuidadAsistencial.help.observacion' | translate"
            >Observacion</label
          >
          <input
            type="text"
            class="form-control"
            name="observacion"
            id="field_observacion"
            data-cy="observacion"
            formControlName="observacion"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.serviciosmedicosContinuidadAsistencial.servicioHospitalario"
            for="field_servicioHospitalario"
            [ngbTooltip]="'gatewayApp.serviciosmedicosContinuidadAsistencial.help.servicioHospitalario' | translate"
            >Servicio Hospitalario</label
          >
          <input
            type="text"
            class="form-control"
            name="servicioHospitalario"
            id="field_servicioHospitalario"
            data-cy="servicioHospitalario"
            formControlName="servicioHospitalario"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.serviciosmedicosContinuidadAsistencial.itemCie" for="field_itemCie"
            >Item Cie</label
          >
          <select
            class="form-control"
            id="field_itemCie"
            data-cy="itemCie"
            name="itemCie"
            formControlName="itemCie"
            [compareWith]="compareItemCie"
          >
            <option [ngValue]="null"></option>
            @for (itemCieOption of itemCiesSharedCollection; track $index) {
              <option [ngValue]="itemCieOption">{{ itemCieOption.nombre }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
