<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tipo-establecimiento-heading"
        data-cy="TipoEstablecimientoCreateUpdateHeading"
        jhiTranslate="gatewayApp.establecimientosTipoEstablecimiento.home.createOrEditLabel"
      >
        Create or edit a Tipo Establecimiento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosTipoEstablecimiento.codigo"
            for="field_codigo"
            [ngbTooltip]="'gatewayApp.establecimientosTipoEstablecimiento.help.codigo' | translate"
            >Codigo</label
          >
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosTipoEstablecimiento.nombre"
            for="field_nombre"
            [ngbTooltip]="'gatewayApp.establecimientosTipoEstablecimiento.help.nombre' | translate"
            >Nombre</label
          >
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosTipoEstablecimiento.descripcion"
            for="field_descripcion"
            [ngbTooltip]="'gatewayApp.establecimientosTipoEstablecimiento.help.descripcion' | translate"
            >Descripcion</label
          >
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.establecimientosTipoEstablecimiento.nivel" for="field_nivel">Nivel</label>
          <select
            class="form-control"
            id="field_nivel"
            data-cy="nivel"
            name="nivel"
            formControlName="nivel"
            [compareWith]="compareNivelEstablecimiento"
          >
            <option [ngValue]="null"></option>
            @for (nivelEstablecimientoOption of nivelEstablecimientosSharedCollection; track $index) {
              <option [ngValue]="nivelEstablecimientoOption">{{ nivelEstablecimientoOption.nombre }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
