<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-item-cie-heading"
        data-cy="ItemCieCreateUpdateHeading"
        jhiTranslate="gatewayApp.serviciosmedicosItemCie.home.createOrEditLabel"
      >
        Create or edit a Item Cie
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.serviciosmedicosItemCie.nombre"
            for="field_nombre"
            [ngbTooltip]="'gatewayApp.serviciosmedicosItemCie.help.nombre' | translate"
            >Nombre</label
          >
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          @if (editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)) {
            <div>
              @if (editForm.get('nombre')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.serviciosmedicosItemCie.codigo"
            for="field_codigo"
            [ngbTooltip]="'gatewayApp.serviciosmedicosItemCie.help.codigo' | translate"
            >Codigo</label
          >
          <input type="text" class="form-control" name="codigo" id="field_codigo" data-cy="codigo" formControlName="codigo" />
          @if (editForm.get('codigo')!.invalid && (editForm.get('codigo')!.dirty || editForm.get('codigo')!.touched)) {
            <div>
              @if (editForm.get('codigo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.serviciosmedicosItemCie.activo"
            for="field_activo"
            [ngbTooltip]="'gatewayApp.serviciosmedicosItemCie.help.activo' | translate"
            >Activo</label
          >
          <input type="checkbox" class="form-check" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
          @if (editForm.get('activo')!.invalid && (editForm.get('activo')!.dirty || editForm.get('activo')!.touched)) {
            <div>
              @if (editForm.get('activo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.serviciosmedicosItemCie.padre" for="field_padre">Padre</label>
          <select class="form-control" id="field_padre" data-cy="padre" name="padre" formControlName="padre" [compareWith]="compareItemCie">
            <option [ngValue]="null"></option>
            @for (itemCieOption of itemCiesSharedCollection; track $index) {
              <option [ngValue]="itemCieOption">{{ itemCieOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.serviciosmedicosItemCie.cie" for="field_cie">Cie</label>
          <select class="form-control" id="field_cie" data-cy="cie" name="cie" formControlName="cie" [compareWith]="compareCie">
            <option [ngValue]="null"></option>
            @for (cieOption of ciesSharedCollection; track $index) {
              <option [ngValue]="cieOption">{{ cieOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
