<div>
  <h2 id="page-heading" data-cy="DocumentoTramiteHeading">
    <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.home.title">Documento Tramites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-documento-tramite"
        [routerLink]="['/documento-tramite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.home.createLabel">Create a new Documento Tramite</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (documentoTramites?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.home.notFound">No Documento Tramites found</span>
    </div>
  }

  @if (documentoTramites && documentoTramites.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fecha">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.fecha">Fecha</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="url">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.url">Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="documento.nombre">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.documento">Documento</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tramite.codigoValidacion">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosDocumentoTramite.tramite">Tramite</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (documentoTramite of documentoTramites; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/documento-tramite', documentoTramite.id, 'view']">{{ documentoTramite.id }}</a>
              </td>
              <td>{{ documentoTramite.nombre }}</td>
              <td>{{ documentoTramite.fecha | formatMediumDate }}</td>
              <td>{{ documentoTramite.url }}</td>
              <td>
                @if (documentoTramite.documento) {
                  <div>
                    <a [routerLink]="['/documento', documentoTramite.documento.id, 'view']">{{ documentoTramite.documento.nombre }}</a>
                  </div>
                }
              </td>
              <td>
                @if (documentoTramite.tramite) {
                  <div>
                    <a [routerLink]="['/tramite', documentoTramite.tramite.id, 'view']">{{ documentoTramite.tramite.codigoValidacion }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/documento-tramite', documentoTramite.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/documento-tramite', documentoTramite.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(documentoTramite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (documentoTramites && documentoTramites.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
