<div>
  <h2 id="page-heading" data-cy="EstablecimientoHeading">
    <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.home.title">Establecimientos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-establecimiento"
        [routerLink]="['/establecimiento/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.home.createLabel">Create a new Establecimiento</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (establecimientos?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.home.notFound">No Establecimientos found</span>
    </div>
  }

  @if (establecimientos && establecimientos.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unicodigo">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.unicodigo">Unicodigo</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.nombre">Nombre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="barrio">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.barrio">Barrio</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="direccion">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.direccion">Direccion</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="referencia">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.referencia">Referencia</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="telefono">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.telefono">Telefono</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ambitoId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.ambitoId">Ambito Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="estadoId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.estadoId">Estado Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="parroquia.nombre">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.parroquia">Parroquia</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="entidad.nombre">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.entidad">Entidad</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="institucion.nombre">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.institucion">Institucion</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipo.nombre">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.tipo">Tipo</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="horario.nombre">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.establecimientosEstablecimiento.horario">Horario</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (establecimiento of establecimientos; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/establecimiento', establecimiento.id, 'view']">{{ establecimiento.id }}</a>
              </td>
              <td>{{ establecimiento.unicodigo }}</td>
              <td>{{ establecimiento.nombre }}</td>
              <td>{{ establecimiento.barrio }}</td>
              <td>{{ establecimiento.direccion }}</td>
              <td>{{ establecimiento.referencia }}</td>
              <td>{{ establecimiento.telefono }}</td>
              <td>{{ establecimiento.ambitoId }}</td>
              <td>{{ establecimiento.estadoId }}</td>
              <td>
                @if (establecimiento.parroquia) {
                  <div>
                    <a [routerLink]="['/parroquia', establecimiento.parroquia.id, 'view']">{{ establecimiento.parroquia.nombre }}</a>
                  </div>
                }
              </td>
              <td>
                @if (establecimiento.entidad) {
                  <div>
                    <a [routerLink]="['/entidad', establecimiento.entidad.id, 'view']">{{ establecimiento.entidad.nombre }}</a>
                  </div>
                }
              </td>
              <td>
                @if (establecimiento.institucion) {
                  <div>
                    <a [routerLink]="['/institucion', establecimiento.institucion.id, 'view']">{{ establecimiento.institucion.nombre }}</a>
                  </div>
                }
              </td>
              <td>
                @if (establecimiento.tipo) {
                  <div>
                    <a [routerLink]="['/tipo-establecimiento', establecimiento.tipo.id, 'view']">{{ establecimiento.tipo.nombre }}</a>
                  </div>
                }
              </td>
              <td>
                @if (establecimiento.horario) {
                  <div>
                    <a [routerLink]="['/horario-establecimiento', establecimiento.horario.id, 'view']">{{
                      establecimiento.horario.nombre
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/establecimiento', establecimiento.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/establecimiento', establecimiento.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(establecimiento)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (establecimientos && establecimientos.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
