<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-discapacidad-heading"
        data-cy="DiscapacidadCreateUpdateHeading"
        jhiTranslate="gatewayApp.discapacidad.home.createOrEditLabel"
      >
        Create or edit a Discapacidad
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.discapacidad.porcentaje"
            for="field_porcentaje"
            [ngbTooltip]="'gatewayApp.discapacidad.help.porcentaje' | translate"
            >Porcentaje</label
          >
          <input
            type="number"
            class="form-control"
            name="porcentaje"
            id="field_porcentaje"
            data-cy="porcentaje"
            formControlName="porcentaje"
          />
          @if (editForm.get('porcentaje')!.invalid && (editForm.get('porcentaje')!.dirty || editForm.get('porcentaje')!.touched)) {
            <div>
              @if (editForm.get('porcentaje')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('porcentaje')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.discapacidad.tipo" for="field_tipo">Tipo</label>
          <select
            class="form-control"
            id="field_tipo"
            data-cy="tipo"
            name="tipo"
            formControlName="tipo"
            [compareWith]="compareCatalogoItem"
          >
            @if (!editForm.get('tipo')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (catalogoItemOption of catalogoItemsSharedCollection; track $index) {
              <option [ngValue]="catalogoItemOption">{{ catalogoItemOption.nombre }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['tipo'])!.invalid && (editForm.get(['tipo'])!.dirty || editForm.get(['tipo'])!.touched)) {
          <div>
            @if (editForm.get(['tipo'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="gatewayApp.discapacidad.estado" for="field_estado">Estado</label>
          <select
            class="form-control"
            id="field_estado"
            data-cy="estado"
            name="estado"
            formControlName="estado"
            [compareWith]="compareCatalogoItem"
          >
            @if (!editForm.get('estado')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (catalogoItemOption of catalogoItemsSharedCollection; track $index) {
              <option [ngValue]="catalogoItemOption">{{ catalogoItemOption.nombre }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['estado'])!.invalid && (editForm.get(['estado'])!.dirty || editForm.get(['estado'])!.touched)) {
          <div>
            @if (editForm.get(['estado'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
