<div>
  <h2 id="page-heading" data-cy="Formulario053Heading">
    <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.home.title">Formulario 053 S</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-formulario-053"
        [routerLink]="['/formulario-053/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.home.createLabel">Create a new Formulario 053</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (formulario053s?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.home.notFound">No Formulario 053 S found</span>
    </div>
  }

  @if (formulario053s && formulario053s.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fecha">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.fecha">Fecha</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="numeroHistoriaClinica">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.numeroHistoriaClinica">Numero Historia Clinica</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="servicioEspecialidad">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.servicioEspecialidad">Servicio Especialidad</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tipoId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.tipoId">Tipo Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pacienteId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.pacienteId">Paciente Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="doctorId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.doctorId">Doctor Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="establecimientoOrigenId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.establecimientoOrigenId">Establecimiento Origen Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="establecimientoDestinoId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.establecimientoDestinoId">Establecimiento Destino Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="especialidadId">
              <div class="d-flex">
                <span jhiTranslate="gatewayApp.serviciosmedicosFormulario053.especialidadId">Especialidad Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (formulario053 of formulario053s; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/formulario-053', formulario053.id, 'view']">{{ formulario053.id }}</a>
              </td>
              <td>{{ formulario053.fecha | formatMediumDate }}</td>
              <td>{{ formulario053.numeroHistoriaClinica }}</td>
              <td>{{ formulario053.servicioEspecialidad }}</td>
              <td>{{ formulario053.tipoId }}</td>
              <td>{{ formulario053.pacienteId }}</td>
              <td>{{ formulario053.doctorId }}</td>
              <td>{{ formulario053.establecimientoOrigenId }}</td>
              <td>{{ formulario053.establecimientoDestinoId }}</td>
              <td>{{ formulario053.especialidadId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/formulario-053', formulario053.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/formulario-053', formulario053.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(formulario053)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (formulario053s && formulario053s.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
