<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-usuario-establecimiento-heading"
        data-cy="UsuarioEstablecimientoCreateUpdateHeading"
        jhiTranslate="gatewayApp.establecimientosUsuarioEstablecimiento.home.createOrEditLabel"
      >
        Create or edit a Usuario Establecimiento
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosUsuarioEstablecimiento.activo"
            for="field_activo"
            [ngbTooltip]="'gatewayApp.establecimientosUsuarioEstablecimiento.help.activo' | translate"
            >Activo</label
          >
          <input type="checkbox" class="form-check" name="activo" id="field_activo" data-cy="activo" formControlName="activo" />
          @if (editForm.get('activo')!.invalid && (editForm.get('activo')!.dirty || editForm.get('activo')!.touched)) {
            <div>
              @if (editForm.get('activo')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosUsuarioEstablecimiento.usuarioId"
            for="field_usuarioId"
            [ngbTooltip]="'gatewayApp.establecimientosUsuarioEstablecimiento.help.usuarioId' | translate"
            >Usuario Id</label
          >
          <input type="number" class="form-control" name="usuarioId" id="field_usuarioId" data-cy="usuarioId" formControlName="usuarioId" />
          @if (editForm.get('usuarioId')!.invalid && (editForm.get('usuarioId')!.dirty || editForm.get('usuarioId')!.touched)) {
            <div>
              @if (editForm.get('usuarioId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('usuarioId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosUsuarioEstablecimiento.tipoId"
            for="field_tipoId"
            [ngbTooltip]="'gatewayApp.establecimientosUsuarioEstablecimiento.help.tipoId' | translate"
            >Tipo Id</label
          >
          <input type="number" class="form-control" name="tipoId" id="field_tipoId" data-cy="tipoId" formControlName="tipoId" />
          @if (editForm.get('tipoId')!.invalid && (editForm.get('tipoId')!.dirty || editForm.get('tipoId')!.touched)) {
            <div>
              @if (editForm.get('tipoId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('tipoId')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="gatewayApp.establecimientosUsuarioEstablecimiento.establecimiento"
            for="field_establecimiento"
            >Establecimiento</label
          >
          <select
            class="form-control"
            id="field_establecimiento"
            data-cy="establecimiento"
            name="establecimiento"
            formControlName="establecimiento"
            [compareWith]="compareEstablecimiento"
          >
            @if (!editForm.get('establecimiento')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (establecimientoOption of establecimientosSharedCollection; track $index) {
              <option [ngValue]="establecimientoOption">{{ establecimientoOption.nombre }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['establecimiento'])!.invalid &&
          (editForm.get(['establecimiento'])!.dirty || editForm.get(['establecimiento'])!.touched)
        ) {
          <div>
            @if (editForm.get(['establecimiento'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
